/*HEADER*/
.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    grid-template-rows: 109px;
    align-items: center;
    margin: 92px 50px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 31px; 
}

.header__links-list-item {
    font-size: 18px; 
    font-weight: 400;
    line-height: 21px;
    list-style:circle; 
    margin-right: 1px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header__link-active {
    text-decoration: none;
}

.header__logo {
    align-self: self-start;
    display: block;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: inherit;
    height: inherit;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    line-height: 24.3px;
    font-size: 18px;
    margin-right: 2px;
}
.address_right {
    justify-self: end;
}
.address_left {
    justify-self: start;
}

.address > a {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/*COVER SECTION*/
.cover {
    position: relative;
    z-index: 0;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: rgb(0,0,0,0.6);
}


.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__title {
    padding: 165px 50px 125px 50px;
    line-height: 115%;
    font-size: 100px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap:10px;
    letter-spacing: 0.3em;;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    padding-bottom: 50px;
}

.cover__description-text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 78px;
    word-spacing: 18px;
}

.bet-button {
    background-color: rgb(255, 255, 255, 0);
    padding: 12px 32px;
    margin-right: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-family: 'Raleway';
}

.lots {
    margin: 180px 50px 0 50px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    list-style: none;
    gap:25px;
    flex-direction: row;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    max-width: 430px;
    max-height: 450px;
    flex-grow: 1
}

.card-link {
    display: block;
    width: 430px;
    height: 450px;
    text-decoration: none;
}

.card {
    width: inherit;
    height: inherit;
    position: relative;
    background-size: cover;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    padding: 50px 40px 0 40px;
    text-transform: uppercase;
    text-decoration: underline;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #FFFFFF;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 0 40px 50px 40px;
}

.lots__look-more-link {
    margin-left: 40px;
    text-transform: lowercase;
    text-decoration: underline;
    /* посмотреть больше */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-underline-offset: 3px;
}

.about {
    display:grid;
    grid-template-columns: 430px 1fr;
    padding: 180px 50px 0 50px;
}

.about__logo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto
}

.about__column {
    margin-left: 25px;
}

.about__title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    padding:100px 0;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap:25px;
    font-weight: 400;
    font-size: 20px;
}

.footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    margin: 180px 50px 92px 50px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__menu-list-item {
    text-align: center;
    /* об аукционе */
    font-weight: 400;
    font-size: 18px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-self: end;
    justify-content: space-between;
    gap: 48px;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.footer__social-link {
    display: flex;
    width: inherit;
    height: inherit;
    
}

.footer__social-icon {
    margin:auto;
    width: inherit;
    height: inherit;
}